.mdl-layout__header {
    background-color: #22b4fd;
  }
  .end{
    display: flex !important;
    justify-content: space-around;
    align-items: center;
  }
  .end span:first-child {
        border: 1px solid #22b4fd;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(15px);
        background-color: #22b4fd;
  }

  .breadcrumbs{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: white;
    a{
        color: #596270;
        font-size: 14px;
        text-align: left;
        text-transform: uppercase;
     
    }
 }

 